<!-- content -->
<div class="page-content clearfix">
  <div class="row">
    <div class="col-xs-12">
      <!-- Section: About Us -->
      <div class="section-about-us">
        <!-- Title 1 -->
        <h1 class="title1 couple-title1 title1-border">About Us</h1>
        <!-- /Title 1 -->
        <div class="row">
          <!-- Groom -->
          <div class="col-sm-6">
            <div class="about-item">
              <div class="about-item-picture">
                <%=image_tag "groom.jpg"%>
              </div>
              <h2 class="about-item-title">Manju Prasad (Linith)</h2>
              <h3 class="about-item-subtitle">The Groom</h3>
              <div class="about-item-content">
                <p>Deshi is kind, loving and thoughtful. I fell for her dimple smile ;) I love the way she brings joy each time I am with her. She is definitely a best gift for me in life...</p>
              </div>
            </div>
          </div>
          <!-- /Groom -->

          <!-- Bride -->
          <div class="col-sm-6">
            <div class="about-item">
              <div class="about-item-picture">
                <%=image_tag "bride.jpg"%>
              </div>
              <h2 class="about-item-title">Deshitha</h2>
              <h3 class="about-item-subtitle">The Bride</h3>
              <div class="about-item-content">
                <p>Time of waiting for my soul mate finally ended when I met Linu for the first time... Eagerly waiting to tell the whole world that he will be mine forever. I'm sure I will spend rest of my life to be the best partner and the best friend for him and I will be here for you in good times and in bad until death do us part... </p>
              </div>
            </div>
          </div>
          <!-- /Bride -->
        </div>
      </div>

      <!-- /Section: About Us -->
      <!-- Section: Timeline -->
      <div class="section-timeline">
        <!-- Title 1 -->
        <h2 class="title1 couple-title1 title1-border">Our Timeline</h2>
        <!-- /Title 1 -->
        <!-- timeline -->
        <ul class="timeline">
          <!-- item -->
            <li>
              <!-- badge -->
              <div class="timeline-badge">
                <span class="timeline-date">20/04</span>
                <span class="timeline-year">2019</span>
              </div>
              <!-- /badge -->
              <!-- panel -->
                <div class="timeline-panel">
                  <!-- item heading -->
                  <div class="timeline-heading">
                      <h4 class="timeline-title">Day we meet each other</h4>
                      <p><small class="text-muted">A special day for us!</small></p>
                  </div>
                  <!-- /item heading -->
                  <!-- item body -->
                  <div class="timeline-body">
                      <p>We have met each other in April 20 2019, the best day in our life.!</p>
                  </div>
                  <!-- /item body -->
                </div>
                <!-- /panel -->
            </li>
            <!-- /item -->
            <!-- item -->
            <li class="timeline-inverted">
              <!-- badge -->
              <div class="timeline-badge bg-color1">
                <span class="timeline-date">25/04</span>
                <span class="timeline-year">2019</span>
              </div>
              <!-- /badge -->
              <!-- panel -->
                <div class="timeline-panel">
                  <!-- item heading -->
                  <div class="timeline-heading">
                      <h4 class="timeline-title">Day we agreed!</h4>
                  </div>
                  <!-- /item heading -->
                  <!-- item body -->
                  <div class="timeline-body">
                      <p>We agreed foreever on this beautiful day.</p>
                  </div>
                  <!-- /item body -->
                </div>
                <!-- /panel -->
            </li>
            <!-- /item -->
            <!-- item -->
            <li>
              <!-- badge -->
              <div class="timeline-badge">
                <span class="timeline-date">19/10</span>
                <span class="timeline-year">2019</span>
              </div>
              <!-- /badge -->
              <!-- panel -->
                <div class="timeline-panel">
                  <!-- item heading -->
                  <div class="timeline-heading">
                      <h4 class="timeline-title">Our Engagement</h4>
                    <p><small class="text-muted">A joyful day. And its Linth's Birthday.!!!!</small></p>
                  </div>
                  <!-- /item heading -->
                  <!-- item body -->
                  <div class="timeline-body">
                    <%=image_tag "engagement.jpg"%>
                  </div>
                  <!-- /item body -->
                </div>
                <!-- /panel -->
            </li>
            <!-- /item -->
            <!-- item -->
            <li class="timeline-inverted">
              <!-- badge -->
              <div class="timeline-badge bg-color1">
                <span class="timeline-date">03/11</span>
                <span class="timeline-year">2019</span>
              </div>
              <!-- /badge -->
              <!-- panel -->
                <div class="timeline-panel">
                  <!-- item heading -->
                  <div class="timeline-heading">
                      <h4 class="timeline-title">Our Wedding Day</h4>
                  </div>
                  <!-- /item heading -->
                  <!-- item body -->
                  <div class="timeline-body">
                      <p>It will be a big day! Our family, friends celebrating with their families the day with dinner and a champagne toast.</p>
                  </div>
                  <!-- /item body -->
                </div>
                <!-- /panel -->
            </li>
            <!-- /item -->
        </ul>
        <!-- /timeline -->
      </div>
      <!-- /Section: Timeline -->
    </div>
  </div>
</div>
<!-- /content -->
